<h4>Are you sure you want to delete <%= @patient.name %>'s condition: <%= @condition.name %>?</h4>

<form action="/patients/<%= @patient.id %>">
  <input type="submit" value="No, Return to Patient">
</form>

<br>

<form action="/patients/<%= @patient.id %>/conditions/<%= @condition.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Yes, Delete Condition">
</form>
