<h2><%= @patient.name %></h2>
<h3>Edit Condition</h3>

<form method="post" action="/patients/<%= @patient.id %>/conditions/<%= @condition.id %>">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label>Select a Condition:</label>
  <br>
  <% @conditions.each do |condition| %>
    <input type="radio" name="condition[name]" value="<%= condition %>" <%='checked' if @condition.name.include?(condition) %>><%= condition %></input><br>
  <% end %>

  <br>

  <label>Location: </label>
  <input type="text" name="condition[location]" value="<%= @condition.location %>">

  <br><br>

  <label>Date Diagnosed: </label>
  <input type="text" name="condition[date_diagnosed]" value="<%= @condition.date_diagnosed %>">

  <br><br>

  <label>Treated: </label>
  <input type="radio" name="condition[treated]" value="true" <%='checked' if @condition.treated == true %>> Yes</input>
  <input type="radio" name="condition[treated]" value="false" <%='checked' if @condition.treated == false %>> No</input>

  <br><br>

  <label>Treatment: </label>
  <input type="text" name="condition[treatment]" value="<%= @condition.treatment %>">

  <br><br>

  <input type="submit" value="Update Condition">
</form>
